*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    padding: 1em;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: .4 ease-in-out;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: orange;
}

.grid-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: 1em;
}
.item{
    height: 100px;
    width: 100px;
    padding: 2em;
    background-color: blue;
}


