
nav{
    background-color: black;
    padding: 1em;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: .4 ease-in-out;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: orange;
}

.container{
    
}

