

nav{
    background-color: black;
    padding: 1em;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: .4 ease-in-out;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: rgb(114, 85, 85);
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 2000px 200px;
    gap: 1em;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

}
.item{
    height: 100px;
    width: 100px;
    padding: 2em;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
}
.container{
    gap: 1em;
    align-items: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
}
.icon{
    background-color: blue;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 1em;
}
